name: Build and Push Docker Image

on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Build Images
        run: |
          docker build -t untagged -f ./dockerfile .;

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Tag and Push to Docker Hub
        run: |
          docker tag untagged memw/scp_echoes_unofficial_server:latest;
          docker push memw/scp_echoes_unofficial_server:latest;

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Tag and Push to GHCR
        run: |
          docker tag untagged ghcr.io/stifskere/scp_echoes_docker_server:latest;
          docker push ghcr.io/stifskere/scp_echoes_docker_server:latest;

